.chats-container {
  position: relative;
  top: var(--nav-height);
  width: 35%;
  height: calc(100vh - var(--nav-height));
  background-color: #18191a; /* Dark background color */
  color: #fff;
  overflow-y: scroll; /* Enable vertical scroll */
}

.top-container h1 {
  padding: 10px;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 30px;
}

.search-input1 {
  display: flex;
  justify-content: start;
  height: 30px;
  border-radius: 20px;
  background-color: #303030; /* Darker background color for input */
  border: none;
  padding: 8px 16px;
  color: #fff;
}

.search-input1 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
}
.btn-chats-Messenger {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #18191a;
  display: flex;
  justify-content:start;
}

.btn-chats-Messenger:hover {
  cursor: pointer;
}

.btn-chats-Messenger button {
  background-color: gray;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.btn-chats-Messenger img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire button */
}

.btn-chats-Messenger p {
  color: #fff;
}
.search-input1 {
  display: flex;
  justify-content: start;
  height: 30px;
  border-radius: 20px;
  background-color: #303030; /* Darker background color for input */
  border: none;
  padding: 8px 16px;
  color: #fff;
  margin-bottom: 30px;
}

.search-input1 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
}

.button-create {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 20px;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}