.main-box {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* justify-content: space-between; */
  position: relative;
  top: var(--nav-height);
}

.main-box::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  background-color: #f5f5f5; /* Set the background color of the scrollbar */
  position: absolute;
  right: 0; /* Position the scrollbar on the right of the element*/
}
.main-box::-webkit-scrollbar-thumb {
  background-color: #4d5752; /* Set the color of the thumb */
}

.main-box-left{
width: 70%;
display: flex;
flex-direction: column;
align-items: center;
}
.main-box-right{
  width: 30%;
}

