.chatBox-container {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: #18191a;
  color: #fff;
  overflow-y: scroll;
  position: relative;
  top: var(--nav-height);
}
.chatBox-container::-webkit-scrollbar {
  width: 5px;
}

.chatBox-container::-webkit-scrollbar-track {
display: none;}

.chatBox-top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.btn-chatBox-img {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-chatBox-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.search-input2 {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  background-color: #303030;
  border: none;
  padding: 8px 16px;
  color: #fff;
}

.search-input2 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
}

.close-icon {
  color: rgb(59, 89, 152);
  height: 40px;
  width: 50px;
}

.chatBox-middel {
  width: 500px;
  height: 67vh;
}

.chatBox-button button {
  background-color: #18191a;
  border: none;
}

.addPhoto-icon {
  margin-right: 10px;
  margin-left: 20px;
  color: #fff;
  height: 40px;
  width: 40px;
}

.chatBox-button-input {
  display: none;
}
.sendIcon {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  height: 40px;
  width: 40px;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #303030;
  word-wrap: break-word;
}

/* .right {
  justify-content: flex-end;
} */

.message-left {
  align-self: flex-start;
  background-color: #4a4a4a; /* Background color for received messages */
  text-align: left;
  margin-right: auto;
  margin: 2%;
}

.message-right {
  align-self: flex-end;
  background-color: #303030; /* Background color for sent messages */
  text-align: right;
  margin-left: auto;
  margin-right: 2%;
}

.message-left .chat-image,
.message-right .chat-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 3%;
}

.message-left,
.message-right {
  max-width: max-content;
  padding: 1.5%;
  border-radius: 20px;
}
