.chatBox-container {
  width: 70%;
  height: calc(100vh - var(--nav-height));
  background-color: #18191a;
  color: #fff;
  position: fixed;
  top: var(--nav-height);
  right: 0;
  display: flex;
  flex-direction: column;
}

.chatBox-middle::-webkit-scrollbar {
  width: 5px;
}

.chatBox-middle::-webkit-scrollbar-track {
  background: #2e2f30;
}

.chatBox-top {
  padding: 0 2.5%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18191a;
  border-bottom: 1px solid #303030;
}

.chatBox-middle {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 10px;
  height: calc(100vh - var(--nav-height) - 150px);
}

.chatBox-button {
  height: 60px;
  background-color: #18191a;
  display: flex;
  align-items: center;
  padding: 0 2%;
  border-top: 1px solid #303030;
}

.btn-chatBox-img {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-chatBox-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.close-icon {
  color: rgb(59, 89, 152);
  height: 40px;
  width: 50px;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  word-wrap: break-word;
}

.message-left {
  background-color: #4a4a4a;
  text-align: left;
  margin-right: auto;
  max-width: max-content;
}

.message-right {
  background-color: #303030;
  text-align: right;
  margin-left: auto;
  max-width: max-content;
}

.message-left .chat-image,
.message-right .chat-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 3%;
}

.addPhoto-icon {
  color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.chatBox-button-input {
  display: none;
}

.search-input2 {
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  background-color: #303030;
  border: none;
  padding: 0 16px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.search-input2 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

.sendIcon {
  color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.sendIcon-container {
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 600px) {
  .chatBox-container {
    width: 55%;
  }
}
