.background {
  height: calc(
    100vh - var(--nav-height)
  ); /* Adjust height to account for the nav height */
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: -10;
  top: var(--nav-height); /* Position the background below the nav bar */
}

.Groups-container {
  display: flex;
  flex-direction: column; /* Column direction to handle vertical content */
  justify-content: flex-start; /* Align items at the start */
  height: 100vh;
  width: 100%; /* Change to 100% to better adapt to different screen sizes */
  max-width: 40vh; /* Max-width to limit the container width */
  background-color: #18191a; /* Dark background color */
  color: #fff;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Padding for inner spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.top-container h1 {
  padding: 10px;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 30px;
}

.search-input1 {
  display: flex;
  justify-content: start;
  height: 30px;
  border-radius: 20px;
  background-color: #303030; /* Darker background color for input */
  border: none;
  padding: 8px 16px;
  color: #fff;
  margin-bottom: 30px;
}

.search-input1 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
}

.btn-Groups {
  width: 100%;
  height: 60px;
  background-color: #18191a;
}
.btn-create {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  background: rgba(rgba(37, 16, 179, 0.853), green, blue, alpha);
}

.button-create {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 20px;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
.Groups-p p {
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.manage-bottom-container {
  display: flex;
  flex-direction: column;
}
.btn-Groups {
  display: flex;
  justify-content: space-between;
}
.btn-Groups img {
  height: 60px;
  width: 60px;

  object-fit: cover;
}

.manage-bottom-container p {
  padding: 10px;
  font-size: 17px;
  margin-bottom: 20px;
  color: #fff;
}

.modal-container {
  width: 500px;
  height: 600px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 999;
  position: fixed;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 70%;
  position: relative;
}

.title-container {
  width: 100%;
  height: 100px;
}

.title-container-button {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.input-post {
  width: 90%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  direction: ltr;
}

.choice {
  margin-left: 20px;
  align-self: flex-end;
}

.selection {
  height: 25px;
}

.picture {
  width: 50px;
  height: 50px;
  position: relative;
}
.picture img {
  border-radius: 50px;
}
