.modal-container {
  background: #484343;
  border-radius: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* margin: auto; */
  z-index: 999;
  position: fixed;
  height: 75%;
  width: 30%;
}

.title-container-button {
  background: none;
  border: none;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.title-container {
  width: 100%;
}
.title-container h1 {
  font-size: 35px;
  color: #1877f2; /* Facebook blue */
}
.title-container Image {
  color: black;
}

.picture {
  width: 5%;
  height: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -15%;
}
.picture img {
  border-radius: 50px;
  display: flex;
  margin-bottom: 10%;
}

.inp-group {
  margin:auto;
  
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

.inp-img-container {
  position: relative;
  display: inline-block;
}

.inp-img-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1877f2; /* Dark mode button background */
  color: #e4e6eb; /* Button text color */
  border: 1px solid#1877f2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.inp-img-label:hover {
  background-color: #1877f2; /* Slightly lighter background on hover */
}

.inp-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
