.modal-container {

  background: #ffffff;
  border-radius: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* margin: auto; */
  z-index: 999;
  position: fixed;
}

.modal-content {
  /* White background */
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  position: relative;
}

.title-container {
  width: 100%;
  
  /* margin-left: 20px; */

  /* align-self: flex-end; */
}
.title-container h1 {
  font-size: 35px;
  color: #1877f2; /* Facebook blue */
  margin: 0;
}
.title-container Image {
  color: black;
}

.title-container-button {
  background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.picture {
  width: 100px;
  height: 100px;
  position: relative;
}
.picture img {
  border-radius: 50px;
}


/* Style for the group name input */
.inp-group:nth-of-type(1) {
  margin-bottom: 10px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

/* Style for the choose friends input */
.inp-group:nth-of-type(2) {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}
.inp-img-container {
  position: relative;
  display: inline-block;
}

.inp-img-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1877f2; /* Dark mode button background */
  color: #E4E6EB; /* Button text color */
  border: 1px solid#1877f2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.inp-img-label:hover {
  background-color: #1877f2; /* Slightly lighter background on hover */
}

.inp-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}