.friends-box {
  /* direction: rtl; */
  display: flex;
  flex-direction: column;
  background-color: #18191a; /* Dark background color similar to Facebook's dark mode */
  overflow-y: auto;
  width: 95%; /* Fixed width */
  height: 100vh;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
}

.friends-box::-webkit-scrollbar {
  width: 1vh; /* Set the width of the scrollbar */
  background-color: #242526; /* Set the background color of the scrollbar */
}


.freind-item {
    direction: ltr;
    padding: 20px;
    padding-left: 30px;
    width: 100%;
    background-color: rgb(130, 172, 133);
border: none;
cursor: pointer;
}

.friends-box::-webkit-scrollbar-thumb {
  background-color: #3a3b3c; /* Set the color of the thumb */

}

.friend-item {
  direction: ltr;
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 10px; /* Space between items */
  background-color: #242526; /* Background color for each friend item */
  border-radius: 5px; /* Rounded corners */
  color: #e4e6eb; /* Light text color for readability */
  display: flex;
  align-items: center; /* Center align items */
}

.friend-item:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

.friend-name {
  padding: 0 15px; /* Padding inside friend name */
  color: #e4e6eb; /* Light text color for the friend name */
  flex-grow: 1; /* Take up remaining space */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #3a3b3c; /* Placeholder background color */
}
