.freinds-box {
    direction: rtl;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: hsl(180, 41%, 31%);
    aspect-ratio: 4/6;
    overflow-y: scroll;
    width: 35%;
}

.freinds-box::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: #F5F5F5; /* Set the background color of the scrollbar */
    position: absolute;
    right: 0; /* Position the scrollbar on the right of the element*/
 }
 .freinds-box::-webkit-scrollbar-thumb {
    background-color: #1d9c5c; /* Set the color of the thumb */
 }



.freind-name {
    padding: 15px;
    color: aliceblue;
}

.freind-item {
    direction: ltr;
    padding: 20px;
    padding-left: 30px;



}

.non-last-freind-item {
    border-bottom: solid;
    border-radius: 3%;
}