
.navbar-modal {
    justify-content: space-evenly;
    height: 500px;
    width: 400px;
    background-color: antiquewhite;
    border-radius: 25px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }