body {
  background-color: black;
  color: #fff;
}
.marketplace-container {
  height: calc(100vh - var(--nav-height));
  width: 100%;
  background-color: #18191a;
  color: #fff;
  position: relative;
  top: var(--nav-height);
  gap: 5%;
}

hr {
  border-top: 1px solid #303030;
}

.search-top-container {
  margin-top: 4%;
  align-items: center;
  gap: 3vh;
}

.search-top-container .p h1 {
  font-size: 3vw;
  margin-top: auto;
  margin-bottom: auto;
}

.search-input1 {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  background-color: #303030; /* Darker background color for input */
  border: none;
  padding: 8px 16px;
  color: #fff;
}

.search-input1 input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 80%;
  font-size: 1.5vw;
  @media only screen and (max-width: 600px) {
    font-size: 2vw;}
}

.Categories-container {
  background-color: #18191a;
  color: #fff;
  gap: 3vh;
}

.Categories-p {
  font-size: 23px;
}
.Categories-p p {
  font-size: 2.5vw;
  @media only screen and (max-width: 600px) {
    font-size: 3.5vw;
  }
}

.Categories {
  width: 100%;
}

.btn-categories {
  width: 100%;
  height: 50px;
  background-color: #18191a;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.btn-categories:hover {
  cursor: pointer;
}
.btn-categories h3 {
  color: #fff;
  font-size: 1.5vw;
  @media only screen and (max-width: 600px) {
    font-size: 2.5vw;
  }
}
.btn-categories .iconCategories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconCategories {
  color: #303030;
  height: 60px;
  width: 30px;
}
.icon-categories {
  color: #fff;
  height: 30px;
  width: 20px;
}

.add {
  width: 90%;
  height: 5vh;
  background-color: #0866ff;
  color: white;
  border-radius: 5px;
  border: none;
  gap: 2%;
  font-size: 2vw;
  @media only screen and (max-width: 600px) {
    font-size: 3vw;
  }
}
.add:hover {
  background-color: #0655d5;
}
