.MarketplacePage-container {
  height: calc(100vh - var(--nav-height));
  width: 100%;
}

.left {
  height: 100%;
  width: 20%;
  /* overflow: auto;  */
}

.right {
  height: 100%;
  width: 80%;
  /* overflow: auto;  */
}
