.MarketplacePage-container {
  height: calc(100vh - var(--nav-height));
  width: 100%;

 
}

.left {
  height: 100%;
  width: 20%;
  overflow-y: scroll;
}

.right {
  height: 100%;
  width: 80%;
  overflow-y: scroll;

}

.left::-webkit-scrollbar {
  display: none;
}
.right::-webkit-scrollbar {
  display: none;
}
