.my-body {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.toolsbar,
.selectContainer {
  background-color: transparent;
}

.toolsbar {
  width: 93%;
  height: 10vh;
  top: calc(var(--nav-height) + 2.5vh);
  position: relative;
  z-index: 99;
  align-items: center;
  padding-left: 7.5vh;
  gap: 2%;
}

.selectContainer,
.textfildContainer {
  height: 70%;
  border: none;
  padding: 8px 16px;
  color: #fff;
}

.textfildContainer {
  width: 93%;
}

.textfildContainer input {
  width: 20%;
  transition: all 1s;

}

.textfildContainer input:hover {
  width: 100%;
}

.textfildContainer input:focus {
  width: 90%;
}

.selectContainer select,
.textfildContainer input {
  background-color: #303030 ; /* Darker background color for input */
  border: none;
  outline: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;


}

.grid-container {
  position: relative;
  top: 10vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;
  padding: 50px;
}

.grid_item {
  height: 30vh;
  background-color: transparent;
  border-radius: 15px;
  /* border: solid rgb(255, 255, 255); */
  color: white;
  background-color: rgb(63, 62, 62);
}

.myimg {
  height: 80%;
  /* background-color: chartreuse; */
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.mytext {
  padding: 5px;
}
.price-text {
  position: relative;
  left: 5px;
}

.title-text {
  font-size: small;
  position: relative;
  left: 5px;
}
