
.my-body {
  position: relative;
  background-color: black;
}

.toolsbar,
.selectContainer {
  background-color: black;
}

.toolsbar {
  width: 93%;
  height: 10vh;
  top: calc(var(--nav-height) + 2.5vh);
  position: relative;
  align-items: center;
  padding-left: 7.5vh;
  gap: 2%;
}

.selectContainer,
.textfildContainer {
  height: 70%;
  border: none;
  padding: 8px 16px;
  color: #fff;
}

.textfildContainer {
  width: 93%;
}

.textfildContainer input {
  width: 20%;
  transition: all 1s;
}

.textfildContainer input:hover {
  width: 100%;
}

.textfildContainer input:focus {
  width: 90%;
}

.selectContainer select,
.textfildContainer input {
  background-color: #303030; /* Darker background color for input */
  border: none;
  outline: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
}

.grid-container {
  position: relative;
  top: 10vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3%;
  padding: 50px;
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid_item {
  background-color: transparent;
  border-radius: 15px;
  color: white;
  background-color: rgb(63, 62, 62);
  text-decoration: none;
  height: 30vh;
  @media only screen and (max-width: 600px) {
    height: 17vh;
  }
}

.myimg {
  height: 80%;
  width: 100%;
  /* background-color: chartreuse; */
  border-radius: 15px 15px 0px 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-img {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-img {
  position: absolute;
  z-index: 50;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mytext {
  padding: 5px;
}
.price-text {
  position: relative;
  left: 5px;
}

.title-text {
  font-size: small;
  position: relative;
  left: 5px;
}
.garbage{
  margin: 4%;
}
.grid-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;
  padding: 50px;
}

.grid_item {
  height: 30vh;
  background-color: transparent;
  border-radius: 15px;
  border: solid rgb(255, 255, 255);
  color: white;
}

.myimg {
    height: 80%;
  background-color: chartreuse;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.mytext{
    padding: 5px;
}
.price-text {
    position: relative;
    left: 5px;
}

.title-text {
    font-size: small;
    position: relative;
    left: 5px;
}
