* {
  --nine-pictures-and-freinds-height: 30%;
  --line-saperator-color:#7f8c86 solid;
}

.profile-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  background-color: var(--background-color);
  overflow-y: scroll;
}

.profile-box::-webkit-scrollbar {
  width: 1vh; /* Set the width of the scrollbar */
  background-color: #f5f5f5; /* Set the background color of the scrollbar */
  position: absolute;
  right: 0; /* Position the scrollbar on the right of the element*/
}
.profile-box::-webkit-scrollbar-thumb {
  background-color: #1c2822; /* Set the color of the thumb */
}

.inner-profile-box {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-picture {
  height: 60%;
  width: 100%;
}

.information-box {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 95%;
  margin-top: 1%;
  /* border: solid; */
  align-items: center;
  row-gap: 10%;
  gap: 5%;
  justify-content: space-between;
  border-bottom: slategrey solid;
  padding-bottom: 2%;
}

.profile-picture {
  border-radius: 50%;
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.personal-information {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  font-size: 100%;
  /* border: solid; */
  justify-content: space-between;
  color: #f5f5f5;
}

.name-and-freinds {
  width: 100%;
}

.mutual-freinds-pictures {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 90%;
  /* overflow: hidden; */
  /* border: solid; */
  align-items: flex-end;
}

.mutual-freind-picture {
  /* position: relative; */
  position: absolute;

  height: 90%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 1;
  /* border: solid; */
}

.mutual-freind-picture:hover {
  /* position: absolute; */
  height: 150%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 10;
  /* border: solid; */
}

.out-buttons-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1%;
  height: 100%;
  width: 40%;
  align-items: flex-end;
  justify-content: center;
  /* border: solid; */
  /* right: 0px; */
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10%;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-end;
  
  /* border: solid; */

  /* right: 0px; */
}

.invite-button {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 33%;
  font-size: 75%;
  color: #f5f5f5;
  border-radius: 10%;
  background-color: rgba(101, 96, 96, 0.377);
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
  justify-content: center;
  z-index: 1;
  align-items: center;
}


.invite-button:hover {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 33%;
  font-size: 75%;
  color: #f5f5f5;
  border-radius: 10%;
  background-color: rgba(82, 138, 181, 0.377);
  border: none;
  cursor: pointer;
  justify-content: center;
  z-index: 2;
  align-items: center;
}

.add-freind-request {
font-size: 3vw;
}

.message-button {
  font-size:3vw;
}


.expnd-more-button {
  background-color: rgba(101, 96, 96, 0.377);
  width: 20%;
  cursor: pointer;
}

.profile-nav {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 10%;
  /* border: solid; */
  color: #f5f5f5;
  justify-content: space-between;
  align-items: flex-start;
}

.rhight-nav button {
  color: #f5f5f5;
}

.expand-more-button-three-points {
  background-color: rgba(101, 96, 96, 0.377);
  color: #f5f5f5;
}
.user-posts {
  display: flex;
  flex-direction: row-reverse;
  border: solid;
  width: 66.5%;
  height: 100%;
  margin-top: 3%;
  justify-content: flex-end;
}

.nine-pictures-and-freinds {
  width: var(--nine-pictures-and-freinds-height);
  right: 0px;
}

.nine-pictures {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  aspect-ratio: 1/1;
  border: solid;
}

.nine-pictures button {
  width: 100%;
  border: solid;
  cursor: pointer;
  padding: 5%;
  z-index: 1;
  background-color: black;
  transition: width 0.3s ease; /* Add transition for smooth hover effect */
}

.nine-pictures button:hover {
  width: 120%; /* Enlarge the button on hover */
  z-index: 2;
  aspect-ratio: 1/1;
  border: solid;
  cursor: pointer;
  background-color: black;
}

.nine-pictures img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.user-posts-box {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--nine-pictures-and-freinds-height));
  height: 100%;
  /* left: 0%; */
  /* border: cadetblue solid; */
  /* background-color: azure; */
  align-items: center;
  z-index: 999;
  overflow-y: scroll;
  gap: 20%;
  background-color: var(--background-color);
  /* padding-top: 5%; */
}

.user-posts-box::-webkit-scrollbar {
  width: 1vh; /* Set the width of the scrollbar */
  background-color: #F5F5F5; /* Set the background color of the scrollbar */
  position: absolute;
  right: 0; /* Position the scrollbar on the right of the element*/
}
.user-posts-box::-webkit-scrollbar-thumb {
  background-color: #23c976; /* Set the color of the thumb */
}






.user-post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  /* left: 0%; */
  /* border: cadetblue solid; */
  background-color: rgb(61, 66, 66);
  z-index: 999;
}

.user-top-post-box {
  display: flex;
  flex-direction: row;
  width: 98%;
  align-items: flex-start;
  border-bottom: var(--line-saperator-color);
}

.user-brief-introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-post-picture {
  width: 100%;
  height: 100%;
}

.user-post-content {
  border-bottom: var(--line-saperator-color);
  width: 95%;
}

.user-comments {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  border-bottom: var(--line-saperator-color);
  padding-top: 1%;
  padding-bottom: 1%;
}

.user-comments-button {
  display: flex;
  flex-direction: row;
  gap: 3%;
  background-color: var(--post-color);
  border: none;
  cursor: pointer;
  /* margin-right: 4%; */
}

.user-comments-button:hover {
  border: #4d5752;

  display: flex;
  flex-direction: row;
  gap: 3%;
}
