body {
  background-color: #18191a; /* Dark background color */
  color: #e4e6eb; /* Light text color for readability */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.posts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 2%;
  row-gap: 4%;
  overflow: auto;
}

.posts-box::-webkit-scrollbar {
  width: 1vh; /* Set the width of the scrollbar */
  background-color: #242526; /* Dark scrollbar background */
}

.posts-box::-webkit-scrollbar-thumb {
  background-color: #3a3b3c; /* Dark scrollbar thumb */
}
p {
  margin-top: 10px;
  font-family: Arial, sans-serif; /* Specify font family */
  font-size: 16px; /* Specify font size */
  color: #e4e6eb; /* Text color */
}

.post-box {
  background-color: #242526; /* Dark post background */
  border: 1px solid #3a3b3c; /* Border color */
  border-radius: 8px; /* Rounded corners */
  width: 90%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.post-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3%;
}

.post-img {
  object-fit: cover;
  height: auto;
  width: auto; 
  max-width: 31%;
  border-radius: 8px; 
}

.post-img-own{
  object-fit: cover;
  height: auto;
  width: 100%; 
  border-radius: 8px; 
}

.profile-details {
  width: 35%;
  align-items: center;
  gap: 3%;


}

.profile-details img {
  border-radius: 100%;
}

.post-details {
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  border-bottom: solid rgb(80, 80, 80);
}

.privacy-text,
.date p {
  font-size: small;
}

.post-content {
  padding: 5% 0%;
}

@media only screen and (max-width: 600px) {
  .posts-box {
    width: 90%;
  }

  .privacy-text,
  .date p {
    font-size: xx-small;
  }

  .profile-details {
    width: 100%;

  }

  .post-img {
    width: auto; 
    max-width: 48%;
  }
  
}
